.nav-expanded {
  width: 250px;
  transition: width 0.3s ease-in-out 0.25s;
}

.nav-hidden {
  width: 0px;
  transition: width 0.3s ease-in-out 0.25s;
}

.navIcon-expanded {
  transform:rotate(0deg);
  transition: transform 0.3s ease-in-out 0.05s;
}

.navIcon-hidden {
  transform:rotate(270deg);
  transition: transform 0.3s ease-in-out 0.05s;
}